@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Asap', sans-serif;
    background: #191E24;
}

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 80%;
    margin: 10px auto;
    font-size: 14px;
}

.radio-inputs label {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs label input {
    display: none;
}

.radio-inputs label span {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs label input:checked+span {
    background-color: #fff;
    text-shadow: 0.1px 0px #000;
}